html, body {
  height: 100%;
}

html {
  font-size: 16px;
  line-height: 1.4;
  font-family: 'usual',sans-serif;
  color: #4A4A4A;
}

a {
  color: #4A4A4A;
  text-decoration: none;
}

/******************** Navigation ********************/

.nav {
  padding: 30px 30px 0 30px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  /* background: pink; */
}

.nav a {
  letter-spacing: 0.1rem;
  font-weight: lighter;
}

.nav .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 60px;
  background: url("./../images/triangle-header.svg") no-repeat;
}

.nav .logo a {
  padding-left: 1.2rem;
  /* background: pink; */
}

.nav ul {
  text-align: right;
  width: 60%;
  padding-right: 1.2rem;
  /* background: green; */
}

.nav ul li {
  display: inline;
  padding-left: 1.5rem;
  /* background: red; */
}

.nav ul li:first-child {
  padding-left: 0;
}

.nav ul li a:hover {
  color: #111;
}

@media only screen and (max-width: 580px) {
  .nav {
    padding: 20px 20px 0 20px;
  }
  .nav .logo {
    width: 20%;
  }
  .nav .logo span {
    display: none;
  }
  .nav ul {
    width: 80%;
  }
}

/******************** PJAX transition ********************/
.transition-fade {
    transition: all 1.2s ease-in-out;
    transform: translateY(0);
    opacity: 1;
}
html.is-animating .transition-fade{
    opacity: 0;
    transform: translateY(-100%);
}

/******************** SVG Follower Container ********************/
.c-svg-follower {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.c-svg-follower__stage {
  height: 100vh;
}

/******************** Footer ********************/

footer {
  margin: 30px 30px 30px 30px;
  display: flex;
  justify-content: space-between;
}

footer a {
  display: flex;
  font-weight: lighter;
  justify-content: center;
  height: 60px;
}

footer a.up {
  width: 60px;
  background: url("./../images/triangle-footer.svg") no-repeat;
}

footer a.next span.arw {
  display: flex;
  justify-content: center;
  width: 60px;
  background: url("./../images/triangle-footer-next.svg") no-repeat;
}

footer a.next span.txt {
  display: flex;
  align-items: center;
}

footer a.next span.txt span {
  background: orange;
}

@media only screen and (max-width: 580px) {
  footer {
    margin: 20px 20px 20px 20px;
  }
}

/********** End **********/
