html {
  font-size: 16px;
  line-height: 1.4;
  font-family: Arial;
  color: #333;
}

/********** Navigation **********/

.nav {
  background: pink;
  display: flex;
  align-items:  center;
  padding: 1rem 1.5rem;
}

.nav a {
  text-decoration: none;
  color: #333;
}

.nav .logo {
  width: 40%;
}

.nav ul {
  text-align: right;
  width: 60%;
  background: green;
}

.nav ul li {
  display: inline;
  padding-left: 1rem;
  background: red;
}

.nav ul li:first-child {
  padding-left: 0;
}

.nav ul li a:hover {
  color: #111;
}

/********** Header **********/

h1 {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 4rem;
  letter-spacing: -0.1rem;
}
