html {
  font-size: 16px;
  line-height: 1.4;
  font-family: Arial;
  color: #333;
}

/********** Navigation **********/

.nav {
  margin: 30px 30px 0 30px;
  /* background: pink; */
  display: flex;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: #333;
}

.nav .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 60px;
  background: url("./../images/triangle.svg") no-repeat;
}

.nav .logo a {
  padding-left: 1.2rem;
  /* background: pink; */
}

.nav ul {
  text-align: right;
  width: 60%;
  padding-right: 1.2rem;
  /* background: green; */
}

.nav ul li {
  display: inline;
  padding-left: 1rem;
  /* background: red; */
}

.nav ul li:first-child {
  padding-left: 0;
}

.nav ul li a:hover {
  color: #111;
}

/********** Header **********/

h1 {
  font-family: 'Frank Ruhl Libre', serif;
  letter-spacing: -0.1rem;
}

/********** Homepage **********/

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 600px;
  background: url("./../images/homepage-bg.png") no-repeat center;
}

.homepage h1 {
  font-size: 4rem;
}
