html {
  font-size: 16px;
  line-height: 1.4;
  font-family: 'usual',sans-serif;
  color: #4A4A4A;
}

/********** Navigation **********/

.nav {
  margin: 30px 30px 0 30px;
  /* background: pink; */
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.nav a {
  text-decoration: none;
  color: #4A4A4A;
  letter-spacing: 0.1rem;
  font-weight: lighter;
}

.nav .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 60px;
  background: url("./../images/triangle.svg") no-repeat;
}

.nav .logo a {
  padding-left: 1.2rem;
  /* background: pink; */
}

.nav ul {
  text-align: right;
  width: 60%;
  padding-right: 1.2rem;
  /* background: green; */
}

.nav ul li {
  display: inline;
  padding-left: 1.5rem;
  /* background: red; */
}

.nav ul li:first-child {
  padding-left: 0;
}

.nav ul li a:hover {
  color: #111;
}

/********** Main **********/

/********** Homepage **********/

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 580px;
  background: url('./../images/homepage-bg.png') no-repeat center;
}

.homepage h1 {
  margin-top: -4rem;
  font-size: 3.6rem;
  letter-spacing: ;
}

.project {
  display: flex;
  margin: 0 30px 30px 30px;
  padding: 50px 50px 0 50px;
}

.project h2 {
  font-size: 1.8rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
}

.project h3 {
  margin-top: 0.7rem;
  font-size: 0.9rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}

.project .text {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding-bottom: 50px;
}

.project .pic {
  width: 384px;
}

.project .pic img {
  display: block; /* To remove bottom border */
}

.project.mcdonalds {
  background: #FBDBD6;
}

.project.allenovery {
  background: #F4F3F1;
}

.project.nationalgrid {
  background: #44388C;
  color: #fff;
}

.project.theguardian {
  background: #45AEC6;
  color: #fff;
}

.project.babyfriendly {
  background: #0DB69F;
  color: #fff;
}














footer {

}
